# Credenciales 
API_KEY = "TU_API_KEY"
API_SECRET = "TU_API_SECRET"
ACCESS_TOKEN = "TU_ACCESS_TOKEN"
ACCESS_SECRET = "TU_ACCESS_SECRET"
POST_TEXT="Texto_opcional"

# Opcional si usas twitterapis.com

TWITTERAPIS_KEY="API_KEY"
X_AUTH_TOKEN="your_auth_token_here"
X_CT0="your_ct0_here"